<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Joel's Website</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">
  </head>

  <body background:"background.jpg">

    <nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
      <a class="navbar-brand" href="about">Joel's Website</a>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="index">Guestbook</a>
          </li>
          <li class="nav-item selected">
            <a class="nav-link disabled" href="about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="calculation">Calculation</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="contact">Contact</a>
          </li>
        </ul>
      </div>
    </nav>
	
    <div class="container">
      <div class="jumbotron">
        <div class="header">
          <img id="profilepic" src="img/profile.jpg" class="img-circle" style="width:200px;height:256px">
          <h1><b>Joel Beckley</b></h1>
        </div>
			<h3> Background </h3>
				<p> I am from Omaha, NE. I am working on a Bachelor's in Computer Science. I currently work as a TA for Data Structures
				but I have also worked as a janitor and a crew member at Little Caesars.
				</p>
			<h3> Plans </h3>
				<p> I am hoping to get a job as a programmer. I currently have an internship lined up for this summer at Cerner.
				Hopefully it will go well and I will actually be offered a job there.
			</p>
			<h3> Interests </h3>
				<p> I am an avid gamer, playing mostly on Nintendo systems. I spend a lot of time on Youtube.
				My favorite programming language is Java, basically because I've used it the most out of any other language.
				</p> 
			<h3> Contact Info </h3>    
				<p> Email: jbeckley9001@gmail.com, or use the Contact page <br>
				Phone: (402)315-7317
      </div>
    </div>
  </body>
</html>
