<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Joel's Website</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">

  </head>

  <body background:"background.jpg">

    <nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
      <a class="navbar-brand" href="about">Joel's Website</a>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="index">Guestbook</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="about">About</a>
          </li>
          <li class="nav-item selected">
            <a class="nav-link disabled" href="calculation">Calculation</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="contact">Contact</a>
          </li>
        </ul>
      </div>
    </nav>

    <div class="container">
      <div class="jumbotron">
        <div class="header">
          <h3 id="calctitle">Number of days between dates</h3>
        </div>
        <br>
        <p class="lead">Enter the two dates below and I will tell you the amount of days between them</p>
        <br>
        <br>
        <div class="row">
            <div class="col-sm-6">
                First Date (Month Day, Year): <input type="text" name="fdate"><br>
            </div>
            <div class="col-sm-6">
                Second Date (Month Day, Year): <input type="text" name="ldate"><br>
            </div>
        </div>
        <br>
        <div>
            <button onclick="App.calcDays()" class="btn btn-large btn-block btn-primary" type="button">Get number of days.</button>
        </div>
        <br>
        <br>
        <div class = "col-sm-12" id="output">Number of days updates this label</div>
        <div class = "col-sm-12" id="outputm">This label shows number of milliseconds</div>
      </div>
    </div>
    <script src = "https://code.jquery.com/jquery-3.1.0.min.js"></script>
    <script src = "js/main.js"></script>
  </body>
</html>
