<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Joel's Website</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">
  </head>

  <body background:"background.jpg">

    <nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
      <a class="navbar-brand" href="about">Joel's Website</a>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="index">Guestbook</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="calculation">Calculation</a>
          </li>
          <li class="nav-item selected">
            <a class="nav-link" href="contact">Contact</a>
          </li>
        </ul>
      </div>
    </nav>

    <div class="container">
      <div class="jumbotron">
        <div class="header">
          <h3 id="contacttitle">Contact Me!</h3>
        </div>
        <br>
        <p class="lead">Enter your information below to contact me.</p>
        <br>
        <br>
        <div class="row">
            <div class="col-sm-12">
                Name: <input type="text" name="fname"><br>
            </div>
            <br>
            <br>
            <div class="col-sm-12">
                Email: <input type="text" name="email"><br>
            </div>
            <br>
            <br>
            <div>
                What you want to say: <textarea class = "col-sm-12" rows = "3"></textarea><br>
            </div>
        </div>
        <br>
        <div>
            <button class="btn btn-large btn-block btn-primary" type="button">Submit</button>
        </div>
        <br>
        <br>
        <div class = "col-xs-4">
        	<a href="https://github.com/jexol15">My Github</a>
        </div>
        <div class = "col-xs-4">
        	<a href="https://bitbucket.org/jexol15/">My BitBucket</a>
        </div>
        <div class = "col-xs-4">
        	<a href="https://www.linkedin.com/in/joel-beckley-6a1050105">My LinkedIn</a>
        </div>
      </div>
    </div>
  </body>
</html>
