
<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Joel's Website</title>
<link href="css/bootstrap.min.css" rel="stylesheet">
<link href="css/main.css" rel="stylesheet">
</head>
<body background:"background.jpg">
<nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
      <a class="navbar-brand" href="about">Joel's Website</a>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item selected">
            <a class="nav-link disabled" href="index">Guestbook</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="calculation">Calculation</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="contact">Contact</a>
          </li>
        </ul>
      </div>
    </nav>
     <div class="container">
      <div class="jumbotron">
        <div class="header">
			<h1>
				Express Guestbook
				<a href="/new-entry" class="btn btn-primary pull-right">
				Write in the guestbook
				</a>
			</h1>
